.TodoList ul {
    font-size: 24px;
    font-style: italic;
}
.TodoList ul li {
    margin: 25px 0;
    position: relative;
    padding-right: 50px;
}
.TodoList button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
}
.TodoList button:hover {
    cursor: pointer;
    color: #007c00;
    border: 2px solid #007c00;
    background-color: #fff;
}